<section id="home">
    <h2>City name</h2>
    <div>And eventually the country</div>
    <p>
        <input type="text" id="city"/>
        <button type="button" id="doSearch">Go !</button>
    </p>
</section>